<footer>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-3 ">
                <h5>Download Our App</h5>  
                <p>Download App for Android and ios mobile phone.</p>
                <img src="assets/images/play-store.png"  alt="">
                <img src="assets/images/app-store.png" alt="" >
            </div>
            <div class="col-md-5 text-center">
               <img src="../../assets/images/logo-white.png" alt="">
               <p>Our Purpose is to Sustainably Make the Pleasure and Benefits of sports Accessible to the many.</p>
            </div>
            <div class="col-md-2 text-center">
              <h5>Useful Links</h5>
              <ul>
                <li>Coupons</li>
                <li>Blog Post</li>
                <li>Return Policy</li>
                <li>Join Affiliate</li>
              </ul>
            </div>
            <div class="col-md-2 text-center">
              <h5>Follow Us</h5>
              <ul>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Instagram</li>
                <li>Youtube</li>
              </ul>
            </div>
        </div> 
        <div class="row">
          <div class="col-md-12 copy-right">
            <p>Copyright 2020- ak-dev</p>
          </div>
        </div>
    </div>
  </footer>