footer{
    background-color: black;
    padding-top: 30px;
    margin-top: 30px;
    color: white;
    p,li{
      color: rgba(255, 255, 255, 0.5);
      font-size: .8rem;
    }
    ul{
      list-style: none;
      padding-left: 0;
    }
    img{
      width: 40%;
      margin-bottom: 10px;
    }
    .copy-right{
      border-top: 2px solid rgba(255, 255, 255, 0.726);
      margin-top: 20px;
      padding-top: 20px;
      text-align: center;
    }
    
  }
@media (max-width: 480px) {
    footer{
      img{
        display: block;
        width: 100%;
      }
      .row {
        text-align: center; 
      }
}
}
@media (min-width: 481px) and (max-width: 767px) {
    footer{
      .row {
        text-align: center; 
      }
      .col-md-3,
      img{
        width: 60%;
      }
    }
}