<nav class="navbar"  >
    <img src="assets/images/logo.png" class="logo" [routerLink]="['/home']">
    <ul class="">
        <li *ngFor="let item of navbar">
            <a [routerLink]="[item.page]">{{item.name}}</a>
        </li>
    </ul>
    <div class="cart">
        <img src="assets/images/cart.png" [routerLink]="['/cart']" >
        <p>5</p>
    </div>
    <img src="assets/images/menu.png" class="menu" (click)="showList()">
</nav>
<ul [ngClass]="{show : showlist}" class="list">
    <li *ngFor="let item of navbar">
        <a [routerLink]="[item.page]">{{item.name}}</a>
    </li>
</ul>