<div class="containerr">
    <div class="head p-1 d-flex justify-content-between">
        <div class="left w-50">
            <p>Product</p>
        </div>
        <div class="right w-50  d-flex justify-content-between">
            <p>Quantity</p>
            <p>Subtotal</p>
        </div>
    </div>
    <div class="orders">
        <div class="mt-2 d-flex justify-content-between">
            <div class="left d-flex h-100">
                
                    <img src="assets/images/category-1.jpg" alt="">
               
                <div class="detail">
                    <p>Red Printed T-Shirt</p>
                    <p>Price:$50.00</p>
                    <p class="text-danger">remove</p>
                </div>
            </div>
            <div class="right w-50  d-flex justify-content-between align-items-center">
                <input type="number" min="1" max="100" step="1" class="border" value="1">
                <p>$50.00</p>
            </div>
        </div>
        
    </div>
    <div class="row justify-content-end">
        <div class="total col-sm-4">
            <div class="row justify-content-between">
                <div class="col-md-4">
                    <p>Subtotal</p>
                </div>
                <div class="col-md-4">
                    <p class="price">$200.00</p>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-md-4">
                    <p>Tax</p>
                </div>
                <div class="col-md-4">
                    <p class="price">$200.00</p>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-md-4">
                    <p>Total</p>
                </div>
                <div class="col-md-4">
                    <p class="price">$200.00</p>
                </div>
            </div>
            <div class="row procced justify-content-end">
                <div class="col-md-8">
                    <button>Procced to checkout <i class="fa fa-arrow-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>